*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color:rgba(15, 14, 14, 0.137);
}
.navbar h2{
    text-align: center;
    background-color:silver;
    box-shadow:  0 5px 15px black;
}
.navbar button{
    padding: 5px 15px;
    justify-content: baseline;
    margin: 10px;
    background-color: white;
    border: solid #000 5px;
    border-radius: 10%; 
    transition: 0.5s;
}
button:active {
    transform: translate(0, 0.5rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.95);
  }
.main button:hover{
    background-color: whitesmoke;
}